<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Ksomnia" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="bg-gradient-to-r from-violet-100 via-indigo-100 to-rose-100 h-full">
    <header class="container mx-auto">
      <div class="p-4 flex justify-between">
      </div>
    </header>
    <div class="container mx-auto h-full">
      <%= @inner_content %>
    </div>
  </body>
</html>
