<main class="flex-1">
  <%= live_component(KsomniaWeb.AppLive.NavComponent, app: @app, nav_section: @__nav_section__) %>
  <%= live_component(KsomniaWeb.AppLive.SettingsNavComponent,
    app: @app,
    settings_section: @__settings_section__
  ) %>

  <div>
    <%= if @app do %>
      <.live_component
        id={@app.id}
        module={KsomniaWeb.AppLive.AppSettingsFormComponent}
        team_id={@team.id}
        app={@app}
        action={:edit_app}
      />
    <% end %>
  </div>
</main>
