<div style="padding: 5rem; color: #64748b">
  <h1 style="margin-bottom: 2rem; font-size: 1.3rem">Dummy JS App</h1>
  <div>
    <label style="font-weight: 500">App token</label>
    <input id="app-token" style="padding: 0.4rem" />
  </div>
  <br />
  <button id="error-sample" style="padding: 0.5rem; background: #6366f1; color: #fff;">Error sample</button>
</div>

<script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/dummy_js_app.js")}></script>
