<div class="px-8">
  <.simple_form
    let={f}
    for={@changeset}
    id="team-settings-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">
    <div>
      <div class="mt-5 text-left">
        <.input field={{f, :name}} type="text" label="Team name" />
      </div>
      <.button phx-disable-with="Saving...">Save</.button>
    </div>
  </.simple_form>
</div>
