<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Ksomnia", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class={"#{if assigns[:user], do: "bg-whtie", else: "bg-gradient-to-r from-violet-50 via-indigo-50 to-blue-50"} h-full"}>
    <%= unless assigns[:user] do %>
      <header class="mx-auto px-20">
        <div class="p-4 flex justify-between">
          <div class="text-indigo-500">
            <a href="/" class="font-bold text-lg">Ksomnia</a>
          </div>
          <div class="">
            <%= link "Sign in", to: Routes.session_path(@conn, :new), class: "font-bold text-indigo-500 hover:bg-indigo-100 p-2 px-5 border-2 border-indigo-500 rounded-full" %>
            <%= link "Create an account", to: Routes.registration_path(@conn, :new), class: "font-bold bg-indigo-500 text-white hover:bg-indigo-600 p-2 px-5 border-2 border-indigo-500 hover:border-indigo-600 rounded-full" %>
          </div>
        </div>
      </header>
    <% end %>
    <div class="">
      <%= @inner_content %>
    </div>
  </body>
</html>
