<div>
  <main>
    <div class="p-20 text-slate-500">
      <h1 class="mb-5 text-xl">Sample JS App</h1>
      <div>
        <label class="font-semibold">App token</label>
        <input id="app-token" class="p-2 block rounded-md border border-gray-300 shadow-md focus:border-indigo-500 focus:ring-indigo-500">
      </div>
      <br>
      <button id="deploy-btn" class="bg-indigo-500 hover:bg-indigo-600 text-white font-bold p-2 rounded-md">Deploy</button>
      <hr class="my-2" />
      <button id="error-sample-btn" class="bg-indigo-500 hover:bg-indigo-600 text-white font-bold p-2 rounded-md">Error sample</button>
    </div>
  </main>
</div>
